---
import BaseLayout from "@/layouts/BaseLayout.astro";
import ProfileCard from "../components/ProfileCard.tsx";
import ProjectsLinks from "../components/ProjectsLinks.tsx";
import MusicSection from "../components/MusicSection.tsx";
---

<BaseLayout
  title="Dean Lofts | DevOps Engineer & Creator"
  description="Dean Lofts - DevOps Engineer, Creator, and Tech Enthusiast. Connect with me and explore my projects, content, and music."
  ogImage={new URL("/assets/images/loftwah_og.jpg", Astro.site)}
>
  <section class="container py-10">
    <div class="mb-10">
      <img 
        src="/assets/images/loftwah_banner.jpg" 
        alt="Dean Lofts Banner" 
        class="w-full h-48 object-cover rounded-lg shadow-md"
      />
    </div>
    
    <div class="space-y-16">
      <ProfileCard client:load />
      
      <ProjectsLinks client:load />
      
      <MusicSection client:load />
    </div>
  </section>
</BaseLayout>