---
import { buttonVariants } from "@/components/ui/button";
import "../styles/fontawesome.css";
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import { faBlog, faTerminal } from "@fortawesome/free-solid-svg-icons";
import { faGithub } from "@fortawesome/free-brands-svg-icons";
import avatarImage from "../assets/images/avatar.jpg";
---

<header
  class="bg-background/95 supports-[backdrop-filter]:bg-background/60 sticky top-0 z-50 w-full border-b backdrop-blur"
>
  <div
    class="container flex h-16 items-center space-x-4 sm:justify-between sm:space-x-0"
  >
    <div class="flex gap-6 md:gap-10">
      <a href="/" class="flex items-center space-x-2">
        <img 
          src={avatarImage.src} 
          alt="Dean Lofts" 
          class="w-8 h-8 rounded-full object-cover"
        />
        <span class="inline-block font-bold">Dean "Loftwah" Lofts</span>
      </a>
    </div>
    <div class="flex flex-1 items-center justify-end space-x-4">
      <nav class="flex items-center space-x-1">
        <a
          href="https://blog.deanlofts.xyz"
          target="_blank"
          rel="noreferrer"
          class={buttonVariants({ variant: 'ghost' })}
        >
          <FontAwesomeIcon icon={faBlog} className="w-4 h-4 mr-2" />
          Blog
        </a>
        <a
          href="https://github.com/loftwah"
          target="_blank"
          rel="noreferrer"
          class={buttonVariants({ variant: 'ghost' })}
        >
          <FontAwesomeIcon icon={faGithub} className="w-4 h-4 mr-2" />
          GitHub
        </a>
      </nav>
    </div>
  </div>
</header>